.w,   input[type=text].w, select.w, td.w{}
.w0,  input[type=text].w0, select.w0, td.w0{width: 0px;}
.w5,  input[type=text].w5, select.w5, td.w5{width: 5px;}
.w10, input[type=text].w10, select.w10, td.w10{width: 10px;}
.w15, input[type=text].w15, select.w15, td.w15{width: 15px;}
.w20, input[type=text].w20, select.w20, td.w20{width: 20px;}
.w25, input[type=text].w25, select.w25, td.w25{width: 25px;}
.w30, input[type=text].w30, select.w30, td.w30{width: 30px;}
.w35, input[type=text].w35, select.w35, td.w35{width: 35px;}
.w40, input[type=text].w40, select.w40, td.w40{width: 40px;}
.w45, input[type=text].w45, select.w45, td.w45{width: 45px;}
.w50, input[type=text].w50, select.w50, td.w50{width: 50px;}
.w55, input[type=text].w55, select.w55, td.w55{width: 55px;}
.w60, input[type=text].w60, select.w60, td.w60{width: 60px;}
.w65, input[type=text].w65, select.w65, td.w65{width: 65px;}
.w70, input[type=text].w70, select.w70, td.w70{width: 70px;}
.w75, input[type=text].w75, select.w75, td.w75{width: 75px;}
.w80, input[type=text].w80, select.w80, td.w80{width: 80px;}
.w85, input[type=text].w85, select.w85, td.w85{width: 85px;}
.w90, input[type=text].w90, select.w90, td.w90{width: 90px;}
.w95, input[type=text].w95, select.w95, td.w95{width: 95px;}
.w10, input[type=text].w100, select.w100, td.w100{width: 100px;}
.w105, input[type=text].w105, select.w105, td.w105{width: 105px;}
.w110, input[type=text].w110, select.w110, td.w110{width: 110px;}
.w115, input[type=text].w115, select.w115, td.w115{width: 115px;}
.w120, input[type=text].w120, select.w120, td.w120{width: 120px;}
.w125, input[type=text].w125, select.w125, td.w125{width: 125px;}
.w130, input[type=text].w130, select.w130, td.w130{width: 130px;}
.w135, input[type=text].w135, select.w135, td.w135{width: 135px;}
.w140, input[type=text].w140, select.w140, td.w140{width: 140px;}
.w145, input[type=text].w145, select.w145, td.w145{width: 145px;}
.w150, input[type=text].w150, select.w150, td.w150{width: 150px;}
.w155, input[type=text].w155, select.w155, td.w155{width: 155px;}
.w160, input[type=text].w160, select.w160, td.w160{width: 160px;}
.w165, input[type=text].w165, select.w165, td.w165{width: 165px;}
.w170, input[type=text].w170, select.w170, td.w170{width: 170px;}
.w175, input[type=text].w175, select.w175, td.w175{width: 175px;}
.w180, input[type=text].w180, select.w180, td.w180{width: 180px;}
.w185, input[type=text].w185, select.w185, td.w185{width: 185px;}
.w190, input[type=text].w190, select.w190, td.w190{width: 190px;}
.w195, input[type=text].w195, select.w195, td.w195{width: 195px;}
.w200, input[type=text].w200, select.w200, td.w200{width: 200px;}
.w205, input[type=text].w205, select.w205, td.w205{width: 205px;}
.w210, input[type=text].w210, select.w210, td.w210{width: 210px;}
.w215, input[type=text].w215, select.w215, td.w215{width: 215px;}
.w220, input[type=text].w220, select.w220, td.w220{width: 220px;}
.w225, input[type=text].w225, select.w225, td.w225{width: 225px;}
.w230, input[type=text].w230, select.w230, td.w230{width: 230px;}
.w235, input[type=text].w235, select.w235, td.w235{width: 235px;}
.w240, input[type=text].w240, select.w240, td.w240{width: 240px;}
.w245, input[type=text].w245, select.w245, td.w245{width: 245px;}
.w250, input[type=text].w250, select.w250, td.w250{width: 250px;}
.w255, input[type=text].w255, select.w255, td.w255{width: 255px;}
.w260, input[type=text].w260, select.w260, td.w260{width: 260px;}
.w265, input[type=text].w265, select.w265, td.w265{width: 265px;}
.w270, input[type=text].w270, select.w270, td.w270{width: 270px;}
.w275, input[type=text].w275, select.w275, td.w275{width: 275px;}
.w280, input[type=text].w280, select.w280, td.w280{width: 280px;}
.w285, input[type=text].w285, select.w285, td.w285{width: 285px;}
.w290, input[type=text].w290, select.w290, td.w290{width: 290px;}
.w295, input[type=text].w295, select.w295, td.w295{width: 295px;}
.w300, input[type=text].w300, select.w300, td.w300{width: 300px;}
.w305, input[type=text].w305, select.w305, td.w305{width: 305px;}
.w310, input[type=text].w310, select.w310, td.w310{width: 310px;}
.w315, input[type=text].w315, select.w315, td.w315{width: 315px;}
.w320, input[type=text].w320, select.w320, td.w320{width: 320px;}
.w325, input[type=text].w325, select.w325, td.w325{width: 325px;}
.w330, input[type=text].w330, select.w330, td.w330{width: 330px;}
.w335, input[type=text].w335, select.w335, td.w335{width: 335px;}
.w340, input[type=text].w340, select.w340, td.w340{width: 340px;}
.w345, input[type=text].w345, select.w345, td.w345{width: 345px;}
.w350, input[type=text].w350, select.w350, td.w350{width: 350px;}
.w355, input[type=text].w355, select.w355, td.w355{width: 355px;}
.w360, input[type=text].w360, select.w360, td.w360{width: 360px;}
.w365, input[type=text].w365, select.w365, td.w365{width: 365px;}
.w370, input[type=text].w370, select.w370, td.w370{width: 370px;}
.w375, input[type=text].w375, select.w375, td.w375{width: 375px;}
.w380, input[type=text].w380, select.w380, td.w380{width: 380px;}
.w385, input[type=text].w385, select.w385, td.w385{width: 385px;}
.w390, input[type=text].w390, select.w390, td.w390{width: 390px;}
.w395, input[type=text].w395, select.w395, td.w395{width: 395px;}
.w400, input[type=text].w400, select.w400, td.w400{width: 400px;}
.w405, input[type=text].w405, select.w405, td.w405{width: 405px;}
.w410, input[type=text].w410, select.w410, td.w410{width: 410px;}
.w415, input[type=text].w415, select.w415, td.w415{width: 415px;}
.w420, input[type=text].w420, select.w420, td.w420{width: 420px;}
.w425, input[type=text].w425, select.w425, td.w425{width: 425px;}
.w430, input[type=text].w430, select.w430, td.w430{width: 430px;}
.w435, input[type=text].w435, select.w435, td.w435{width: 435px;}
.w440, input[type=text].w440, select.w440, td.w440{width: 440px;}
.w445, input[type=text].w445, select.w445, td.w445{width: 445px;}
.w450, input[type=text].w450, select.w450, td.w450{width: 450px;}
.w455, input[type=text].w455, select.w455, td.w455{width: 455px;}
.w460, input[type=text].w460, select.w460, td.w460{width: 460px;}
.w465, input[type=text].w465, select.w465, td.w465{width: 465px;}
.w470, input[type=text].w470, select.w470, td.w470{width: 470px;}
.w475, input[type=text].w475, select.w475, td.w475{width: 475px;}
.w480, input[type=text].w480, select.w480, td.w480{width: 480px;}
.w485, input[type=text].w485, select.w485, td.w485{width: 485px;}
.w490, input[type=text].w490, select.w490, td.w490{width: 490px;}
.w495, input[type=text].w495, select.w495, td.w495{width: 495px;}
.w500, input[type=text].w500, select.w500, td.w500{width: 500px;}
.w505, input[type=text].w505, select.w505, td.w505{width: 505px;}
.w510, input[type=text].w510, select.w510, td.w510{width: 510px;}
.w515, input[type=text].w515, select.w515, td.w515{width: 515px;}
.w520, input[type=text].w520, select.w520, td.w520{width: 520px;}
.w525, input[type=text].w525, select.w525, td.w525{width: 525px;}
.w530, input[type=text].w530, select.w530, td.w530{width: 530px;}
.w535, input[type=text].w535, select.w535, td.w535{width: 535px;}
.w540, input[type=text].w540, select.w540, td.w540{width: 540px;}
.w545, input[type=text].w545, select.w545, td.w545{width: 545px;}
.w550, input[type=text].w550, select.w550, td.w550{width: 550px;}
.w555, input[type=text].w555, select.w555, td.w555{width: 555px;}
.w560, input[type=text].w560, select.w560, td.w560{width: 560px;}
.w565, input[type=text].w565, select.w565, td.w565{width: 565px;}
.w570, input[type=text].w570, select.w570, td.w570{width: 570px;}
.w575, input[type=text].w575, select.w575, td.w575{width: 575px;}
.w580, input[type=text].w580, select.w580, td.w580{width: 580px;}
.w585, input[type=text].w585, select.w585, td.w585{width: 585px;}
.w590, input[type=text].w590, select.w590, td.w590{width: 590px;}
.w595, input[type=text].w595, select.w595, td.w595{width: 595px;}
.w600, input[type=text].w600, select.w600, td.w600{width: 600px;}
.w650, input[type=text].w650, select.w650, td.w600{width: 650px;}
.w700, input[type=text].w700, select.w700, td.w600{width: 700px;}
.w750, input[type=text].w750, select.w750, td.w600{width: 750px;}
.w800, input[type=text].w800, select.w800, td.w600{width: 800px;}
.w850, input[type=text].w850, select.w850, td.w600{width: 850px;}
.w900, input[type=text].w900, select.w900, td.w600{width: 900px;}
.w950, input[type=text].w950, select.w950, td.w600{width: 950px;}
.w1000, input[type=text].w1000, select.w1000, td.w600{width: 1000px;}
.w1050, input[type=text].w1050, select.w1050, td.w600{width: 1050px;}
.w1100, input[type=text].w1100, select.w1100, td.w600{width: 1100px;}
.w1150, input[type=text].w1150, select.w1150, td.w600{width: 1150px;}
.w1200, input[type=text].w1200, select.w1200, td.w600{width: 1200px;}
.w1250, input[type=text].w1250, select.w1250, td.w600{width: 1250px;}
.w1300, input[type=text].w1300, select.w1300, td.w600{width: 1300px;}
.w1350, input[type=text].w1350, select.w1350, td.w600{width: 1350px;}
.w1400, input[type=text].w1400, select.w1400, td.w600{width: 1400px;}
.w1450, input[type=text].w1450, select.w1450, td.w600{width: 1450px;}
.w1500, input[type=text].w1500, select.w1500, td.w600{width: 1500px;}
.w1550, input[type=text].w1550, select.w1550, td.w600{width: 1550px;}
.w1600, input[type=text].w1600, select.w1600, td.w600{width: 1600px;}
